.auth__input {
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 13px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  border: none;
  border-bottom: 2px solid;
  color: #ccc;
  background-color: transparent;
}

.auth__input:focus {
  outline: none;
}